<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="TestCases.IntelyEdu.Listeners" />
	</listeners>

	<test thread-count="5" name="LPTest">
		<classes>
			<class name="TestCases.IntelyEdu.LoginPageTest" />
		</classes>

	</test> <!-- Test -->
	<test thread-count="5" name="HPTest">
		<classes>
			<class name="TestCases.IntelyEdu.HomePageTest" />
		</classes>
 
	</test> <!-- Test -->
	<test thread-count="5" name="TSTest">
		<classes>
			<class name="TestCases.IntelyEdu.TeamSetupTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="PMTest">
		<classes>
			<class name="TestCases.IntelyEdu.PLCMinutesTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="CSTest">
		<classes>
			<class name="TestCases.IntelyEdu.ClassSetupTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="CATest">
		<classes>
			<class name="TestCases.IntelyEdu.MySchlAchievementTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="PTTest">
		<classes>
			<class name="TestCases.IntelyEdu.PLCTaskTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="NLPTest">
		<classes>
			<class name="TestCases.IntelyEdu.NegLoginPageTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="NCSTest">
		<classes>
			<class name="TestCases.IntelyEdu.NegClassSetupTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="NTSTest">
		<classes>
			<class name="TestCases.IntelyEdu.NegTeamSetupTest" />
	 	</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="NPMTest">
		<classes>
			<class name="TestCases.IntelyEdu.NegPLCMinutesTest" />
		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="NCATest">
		<classes>
			<class name="TestCases.IntelyEdu.NegMySchlAchievementTest" />
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
